/* -------------------- Flexbox pricing table -------------------- */

/* ------------------------------------------------------------
  Global styles
------------------------------------------------------------ */  
body {
  font: 400 100% 'PT Serif', serif;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9a9a9a), to(#d4ddea));
  background-image: -webkit-linear-gradient(bottom, #9a9a9a 0%, #d4ddea 100%);
  background-image: -o-linear-gradient(bottom, #9a9a9a 0%, #d4ddea 100%);
  background-image: linear-gradient(to top, #9a9a9a 0%, #d4ddea 100%);
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* ------------------------------------------------------------
  Table styles
------------------------------------------------------------ */
.flexPricingTable {
  width: 100%;
  max-width: 1300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.flexPricingTable__heading {
  font-size: 3.5rem;
  font-weight: 400;
  text-shadow: 2px 0 3px rgba(0, 0, 0, 0.3);
}

.flexPricingTable__desc {
  font-size: 1.2rem;
  padding: 1em 0 1.5em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 650px;
}

.flexPricingTable__box {
  background: white;
  border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.8em;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.flexPricingTable__box:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flexPricingTable__boxHeading,
.flexPricingTable__box p:last-child {
  color: white;
  font-size: 1.8rem;
  letter-spacing: 0.03em;
  font-weight: 400;
  padding: 1em;
}

.flexPricingTable__box p:last-child {
  position: absolute;
  width: 100%;
  bottom: -109px;
  left: 50%;
  color: black;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.flexPricingTable__boxHeading {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: inset 0 -8px 15px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 -8px 15px rgba(0, 0, 0, 0.3);
}

.flexPricingTable__boxHeading > i {
  display: block;
  font-size: 3.5rem;
  padding-bottom: 0.4em;
}

.flexPricingTable__price {
  font-size: 6rem;
  position: relative;
  padding: 0.2em;
}

.flexPricingTable__price:after {
  content: "$";
  font-size: 3rem;
  margin-left: 0.1em;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);  
}

.flexPricingTable__description {
  padding: 0 1.5em 2.5em;
  min-height: 200px;
}

.arrow {
  display: block;
  width: 20px;
  height: 20px;
  border-top:  30px solid white;
  border-bottom:  20px solid transparent;
  border-right:  20px solid transparent;
  border-left:  20px solid transparent;
  position: absolute;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bg-pink {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ec0287), color-stop(70%, #f3542c));
  background-image: -webkit-linear-gradient(top left, #ec0287, #f3542c 70%);
  background-image: -o-linear-gradient(top left, #ec0287, #f3542c 70%);
  background-image: linear-gradient(to bottom right, #ec0287, #f3542c 70%);
}

.bg-orange {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffc400), color-stop(70%, #f3602a));
  background-image: -webkit-linear-gradient(top left, #ffc400, #f3602a 70%);
  background-image: -o-linear-gradient(top left, #ffc400, #f3602a 70%);
  background-image: linear-gradient(to bottom right, #ffc400, #f3602a 70%);
}

.bg-blue {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#03abf6), color-stop(70%, #02c2ab));
  background-image: -webkit-linear-gradient(top left, #03abf6, #02c2ab 70%);
  background-image: -o-linear-gradient(top left, #03abf6, #02c2ab 70%);
  background-image: linear-gradient(to bottom right, #03abf6, #02c2ab 70%);
}

.bg-magenta {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dd048f), color-stop(70%, #672994));
  background-image: -webkit-linear-gradient(top left, #dd048f, #672994 70%);
  background-image: -o-linear-gradient(top left, #dd048f, #672994 70%);
  background-image: linear-gradient(to bottom right, #dd048f, #672994 70%);
}

.col-pink {
  color: #ec0287;
}

.col-orange {
  color: #f3602a;
}

.col-blue {
  color: #03abf6;
}

.col-magenta {
  color: #dd048f;
}

/* ------------------------------------------------------------
  Media queries
------------------------------------------------------------ */
@media screen and (max-width: 1300px) {
  .flexPricingTable {
    width: 90%;
  }

  .flexPricingTable__boxHeading,
  .flexPricingTable__box p:last-child {
    font-size: 1.3rem;
  }

  .flexPricingTable__box p:last-child {
    bottom: -85px;
  }

  .flexPricingTable__boxHeading > i {
    font-size: 2.8rem;
  }

  .flexPricingTable__price {
    font-size: 5rem;
  }

  .flexPricingTable__price:after {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .flexPricingTable {
    width: 95%;
  }  

  .flexPricingTable__boxHeading,
  .flexPricingTable__box p:last-child {
    font-size: 1.2rem;
  }

  main {
    min-height: 1px;
  }

  .flexPricingTable__box {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .flexPricingTable__box:nth-child(even) {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .flexPricingTable__box p:last-child {
    bottom: -75px;
  }

  .arrow {
    border-top:  20px solid white;
    border-bottom:  13px solid transparent;
    border-right:  13px solid transparent;
    border-left:  13px solid transparent;
    bottom: -32px;
  }
}

@media screen and (max-width: 950px) {
  body {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d4ddea), to(#d4ddea));
    background-image: -webkit-linear-gradient(bottom, #d4ddea 0%, #d4ddea 100%);
    background-image: -o-linear-gradient(bottom, #d4ddea 0%, #d4ddea 100%);
    background-image: linear-gradient(to top, #d4ddea 0%, #d4ddea 100%);
  }

  .flexPricingTable {
    height: 100%;
  }

  .flexPricingTable__heading {
    margin-top: 1em;
  }

  main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .flexPricingTable__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44.5%;
            flex: 0 0 44.5%;
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 510px) {
  .flexPricingTable__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin: 2em 0 4em;
  }

  .flexPricingTable__heading {
    font-size: 3rem;
  }

  .flexPricingTable__box:first-child {
    margin-top: 0;
  }

  .flexPricingTable__description {
    min-height: 1px;
  }
}